<ion-header>
  <ion-toolbar>
    <ion-title>Logout</ion-title>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

    <ion-label position="stacked">Are you sure to log out?</ion-label>
    <br>
    <ion-label>If you're you sure plesa push the button "confirm" or push "cancel" to stay here 😊</ion-label>

</ion-content>

